
*{
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui;
}
body{
    background-color: rgb(244,242,238);
}
.header{
    width: 100%;
    height: 53px;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    padding: 7px 222px; 
}
.headerright .options button{
    border: none;
    background-color: transparent;
    margin-left: -3px;
}
.headerleft img{
    height: 36px;
}
.headerleft{
    display: flex;
}
.headerright{
    display: flex;
}
.headerright{
    padding-top: 11px;
}
.search input{
    width: 288px;
    height: 33px;
    border-radius: 5px;
    padding-left: 15px;
    background-color: rgb(237,243,248);
    margin-left: 9px;
    display: flex;
    align-self: center;
    border: none;
    outline: none;
    transition: outline 0.3s ease, width 0.3s ease;
}
.input-box:focus{
    width: 379px;
    outline: 2px solid black;
    border-radius: 3px;
}
.home{
    border-bottom: 2px solid black;
    opacity: 1;
    color: rgb(25,25,25);
    display: inline-block;
    width: auto;
    width: 77px;
    height: 50px;
    margin-top: -15px;
}
.home button{
    background-color: transparent;
    border: none;
}
.options svg, .home svg, .profile{
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.options p, .home p, .profile p, .apps p{
    font-size: 12px;
    text-align: center;
    margin-top: -1px;
    font-family: system-ui;
}
.options, .profile{
    display: inline-block;
    width: auto;
    opacity: 0.81;
    margin: 13px;
    height: 50px;
    margin-top: -11px;
}
.options:hover{
    opacity: 1;
    color: black 1;
}
.profile:hover{
    opacity: 1;
    color: black 1;
}
.apps:hover{
    opacity: 1;
    color: black 1;
}
.profile img{
    height: 25px;
    border-radius: 100%;
    display: flex;
    margin: auto;
    opacity: 1;
    margin-top: -3px;
    margin-left: -7px;
}
.profile{
    height: 45px;
    border: none;
    background-color: transparent;
}

.profile:focus .hiddenprofile{
    display: block;
}
.line{
    width: 1px;
    height: 53px;
    background-color: lightgrey;
    margin-top: -18px;
}
.apps{
    display: inline-block;
    width: auto;
    opacity: 0.81;
    margin: 13px;
    height: 50px;
    margin-top: -11px;
}
.apps span{
    display: flex;
    justify-content: center;
}
.small{
    width: 19px;
    height: 19px;
    background-color: goldenrod;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 3px;
    margin-top: 3px;
}
.profile img{
    height: 25px;
    border-radius: 100%;
    display: flex;
    margin: auto;
    opacity: 1;
    margin-top: -3px;
    margin-left: -7px;
}
.profile{
    height: 45px;
    border: none;
    background-color: transparent;
}
.hiddenprofile{
    width: 255px;
    height: 419px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 3px grey;
    margin-right: 444px;
    position: fixed;
    right: 11px;
    top: 59px;
    display: none;
}
.nameimg{
    border-radius: 100%;
    padding: 12px 14px;
    display: flex;
}
.nameimg img{
    height: 55px;
}
.namea a {
    font-size: 14px;
    text-decoration: none;
    color: blue;
    font-weight: 600;
    padding-top: 2px;
}
.namea a{
    text-decoration: none;
}
.namea{
    width: 234px;
    height: 25px; 
    color: blue;
    margin: auto;
    margin-top: -5px;
    border: 1px solid blue;
    border-radius: 22px;
}
.namea:hover{
    background-color: RGBA(55, 143, 233, 0.1);
    border: 2px solid darkblue;
}
.name div{
    font-size: 16px;
}
.name p{
    float: left;
}
.account{
    width: 100%;
    height: 177px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin-top: 11px;
    padding: 12px 55px 12px 12px;
}
.account h2, .manage h2{
    font-weight: 600;
    font-size: 16px;
    float: left;
    display: block;
}
.account .options .small{
    height: 22px;
    width: 22px;
}
.account .options{
    float: left;
    display: flex;
    margin-top: 2px;
    margin-left: 0;
    margin-bottom: -3px;
}
.otisumi{
    margin-top: -23px;
}
.otisumi a, .manage a, .sout a{
    text-decoration: none;
    color: RGBA(0, 0, 0, 0.6);
    font-size: 14px;
    padding: 3px;
    display: flex;
}
.otisumi a:hover, .manage a:hover, .sout a:hover{
    text-decoration: underline;
}
.account .options p:hover{
    color: blue;
}
.manage{
    width: 100%;
    height: 88px;
    /* margin-top: 11px; */
    padding: 12px 55px 12px 12px;
}
.manage a {
    margin-top: -5px;
    padding: 7px;
}
.sout{
    border-top: 1px solid lightgrey;
    margin-top: 11px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-top: 2px;
}
.profile:focus .hiddenprofile{
    display: block;
}
.line{
    width: 1px;
    height: 53px;
    background-color: lightgrey;
    margin-top: -18px;
}
.apps{
    display: inline-block;
    width: auto;
    opacity: 0.81;
    margin: 13px;
    height: 50px;
    margin-top: -11px;
}
.apps span{
    display: flex;
    justify-content: center;
}
.small{
    width: 19px;
    height: 19px;
    background-color: goldenrod;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 3px;
    margin-top: 3px;
}
.body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    padding: 2px 222px;
}
.leftbody{
    width: 20%;
}
.rightbody{
    width: 28%;
    height: 555px;
}
.main{
    width: 48%;
}
.leftdiscover h1{
    font-size: 16px;
    width: 133px;
    padding: 11px;
    color: RGBA(0, 0, 0, 0.7);
    font-weight: 600;
}
.post{
    width: 100%;
    height: 67px;
    background-color: white;
    border-radius: 9px;
    border: 1px solid lightgrey;
    padding: 11px 15px;
}
.allb, .allp, .allm{
    background-color: white;
    width: 43px;
    border: none;
    border-radius: 22px;
    font-size: 16px;
    color: white;
    background-color: green;
    margin: 5px;
    padding: 3px;
}
.allp, .allm{
    width: 99px;
    color: RGBA(0, 0, 0, 0.7);
    background-color: white;
    border: 1px solid lightgrey;
    font-weight: 500;
}
.allp:hover, .allm:hover{
    background-color: RGBA(140, 140, 140, 0.1);
    border: 2px solid black;
}
.mes{
    display: flex;
}
.rightimg img{
    height: 270px;
    margin-top: 9px;
    border-radius: 9px;
}
.create img{
    border-radius: 100%;
    height: 50px;
}
.create{
    display: flex;
}
.create button{
    border: 1.5px solid lightgrey;
    background-color: white;
    color: grey;
    border-radius: 50px;
    width: 555px;
    height: auto;
    padding: 15px;
    margin-left: 11px;
    font-weight: 600;
}
.create button p{
    float: left;
}
.create button:hover{
    background-color: RGBA(140, 140, 140, 0.1);
    color: black;
}
.leftdiscover{
    width: 100%;
    height: 111px;
    background-color: white;
    border-radius: 9px;
    border: 1px solid lightgrey;
    display: block;
}
.leftdiscover a{
    display: block;
    color: rgb(48,126,204);
    text-decoration: none;
    font-size: 12px;
    padding-bottom: 17px;
    font-weight: 700;
}
.theas{
    padding: 11px;
}
.theas a{
    font-size: 14px;
}
.leftdiscover a:hover{
    text-decoration: underline;
}
.leftdiscover span{
    float: right;
    color: black;
    margin-top: -2px;
    font-size: 22px;
}
.more{
    border-top: 1px solid lightgrey;
    margin-top: -20px;
    height: 40px;
    display: flex;
    justify-content: center;
}
.more p{
    font-size: 14px;
    font-weight: 600;
    color: RGBA(0, 0, 0, 0.6);
    display: flex;
    align-self: center;
}
.more:hover{
    background-color: RGBA(140, 140, 140, 0.1);
}
.things{
    width: 77%;
    height: 222px;
    margin: auto;
}
.things a{
    font-size: 12px;
    padding: 7px;
    color: RGBA(0, 0, 0, 0.7);
    text-decoration: none;
    width: 66%;
    margin: auto;
}
.things a:hover{
    color: RGB(10, 102, 194);
    text-decoration: underline;
}
.thingsp p{
    font-size: 12px;
    color: RGBA(0, 0, 0, 0.9);
}
.thingsp p img{
    height: 17px;
}
.thingsp{
    margin-top: -122px;
    margin-left: 22px;
}
.message{
    width: 100%;
    height: 666px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid lightgrey;
    margin-top: 11px;
}
.themes img{
    border-radius: 100%;
    height: 44px;
    margin-top: 11px;
}
.themes{
    display: flex;
    border-bottom: 1px solid lightgrey;
    padding: 14px 22px;
}
.jobs{
    font-size: 14px;
    color: RGBA(0, 0, 0, 0.7);
    margin-left: 11px;
}
.jobs span{
    font-weight: 600;
}
.jobs .allp{
    border: 1px solid blue;
    color: blue;
    margin-top: 11px;
    width: 99px;
    height: 33px;
}
.jobs .allp:hover{
    border: 2px solid darkblue;
}
.horiz p{
    font-size: 12px;
    margin-left: 14px;
}
.horiz{
    margin-left: auto;
    color: RGBA(0, 0, 0, 0.7);
}
.horiz .material-symbols-outlined{
    padding-top: 15px;
    font-size: 33px;
}
.themes:hover{
    background-color: RGBA(140, 140, 140, 0.133);
}